/* *{ */
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
/* } */
body {
  font-family: "Arial", Sans-Serif;
  /* align-content: center; */
  border: solid 5px black;
  }
header{
  border: solid 5px crimson;
  height: 20%;
  width: 100%;
  padding: 20px;
}
aside{
  height: 80%;
  width: 30%;
  border: solid 5px blueviolet;
  padding: 20px;
}
main{
  height: 80%;
  width: 70%;
  border: solid 5px navajowhite;
  padding: 20px;
}
#tela_inicial_h{
  border: solid 1px black;
  max-width: 75%;
  max-height: 80%;
}
#tela_inicial_m{
  border: solid 1px black;
  max-width: 75%;
  max-height: 80%;
}
#logo{
  max-width: 50%;
}
#menu{
  max-width: 50%;
  max-height: 95%;
}
form{
  /* font-size: 15px; */
  border: solid 2px greenyellow;
}